name: jira-description-action
on:
  pull_request:
    types: [opened, edited]
jobs:
  add-jira-description:
    runs-on: ubuntu-latest
    steps:
      - uses: keshavprasadms/jira-description-action@0.0.1
        name: jira-description-action
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          jira-token: ${{ secrets.JIRA_TOKEN }}
          jira-base-url: ${{ secrets.JIRA_BASE_URL }}
          fail-pr-when-jira-issue-not-found: ${{ secrets.FAIL_PR_WHEN_JIRA_ISSUE_NOT_FOUND }}
          skip-branches: '^(master|release\/v\d+)$'
          custom-issue-number-regexp: '^\w+-\d+$'
          use: both
